<div class="master">
    <app-navbar></app-navbar>
    <div class="container" fxLayout>
        <div class="item item-2" fxFlex="20%">
            <div fxLayout>
                <div fxFlex="100%">
                    <app-info-user></app-info-user>
                </div>
            </div>
            <div fxLayout>
                <div fxFlex="100%">
                    <app-upload-entry></app-upload-entry>
                </div>
            </div>
        
        </div>
        <div class="item item-4" fxFlex="60%">
            <app-web-journal></app-web-journal>
        </div>
        <div class="item item-4" fxFlex="20%">
            <app-right-bar></app-right-bar>
        </div>
    </div>
</div>
