<div class="container" fxLayout>
    <div class="profile-container" fxFlex="100%">
        <img class="img-profile" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div fxLayout>
            <div fxFlex="100%">
                <p>Raúl Pérez Chávez</p>
            </div>
        </div>
        <div fxLayout>
            <div fxFlex="100%" class="role-data">
                <p>15-Fourth Row - <b>Mission Director</b></p>
            </div>
        </div>
    </div>    
</div>