.img-profile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}
.profile-container{
    text-align: center;
    padding: 10px;
}
.role-data{
    text-align: center;
}