<div class="feed-container">
    <div class="container-entry" fxLayout>
        <div class="profile-container" fxFlex="100%">
            <div fxFlex="100%" class="entry-label">
                <hr size="2" width="100%" color="#D4CCCB">
                <p class="entry-label"><b>Visible entries</b></p>
            </div>
        </div>    
    </div>
    <br>
    <div class="form-container">
        <div fxLayout>
            <div class="profile-container" fxFlex="70%">
                <div class="left-option">
                    <p>First row</p>
                </div>
            </div>
            <div class="profile-container" fxFlex="30%">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
        <div fxLayout>
            <div class="profile-container" fxFlex="70%">
                <div class="left-option">
                    <p>Second row</p>
                </div>
            </div>
            <div class="profile-container" fxFlex="30%">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
        <div fxLayout>
            <div class="profile-container" fxFlex="70%">
                <div class="left-option">
                    <p>Thirth row</p>
                </div>
            </div>
            <div class="profile-container" fxFlex="30%">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
        <div fxLayout>
            <div class="profile-container" fxFlex="70%">
                <div class="left-option">
                    <p>Fourth row</p>
                </div>
            </div>
            <div class="profile-container" fxFlex="30%">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
        <div fxLayout>
            <div class="profile-container" fxFlex="70%">
                <div class="left-option">
                    <p>Fith row</p>
                </div>
            </div>
            <div class="profile-container" fxFlex="30%">
                <mat-slide-toggle></mat-slide-toggle>
            </div>
        </div>
    </div>
</div>

