.entry-label{
    text-align: center;
    margin-top: -20px;
}

.container-entry{
    padding-top: 20px;
}
.form-entry{
    margin: auto;
    width: 90%;
}
.publis-btn{
    margin: auto;
}
.btn-container{
    padding: 5px;
}
.feed-container{
    margin-top: 10px;
}
.left-option{
    margin-left: 10px;
}