<mat-toolbar color="primary" class="navbar mat-elevation-z2">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <div class="search-container">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="label-search">Search dates, time, tags, missions, file names, or anything you need</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    
    <span class="example-spacer"></span>
    <div fxLayout>
      <div class="profile-container" fxFlex="30%">
        <mat-icon>event</mat-icon>
      </div>
      <div class="profile-container" fxFlex="70%">
        <p style="font-size: 11px;margin-right: 10px;">{{date | date:"dd/MM/yyyy HH:mm"}}</p>
      </div>
    </div>
</mat-toolbar>